   <div class="page_footer block">
	<div class="foot_nav">
    	<div class="block">
             	<div class="nav_list">


                        <a href="./article.php?id=2" style="padding:0 3px 0 5px">隐私保护</a>  
            
            
                          |
                                    <a href="./article.php?id=5" style="padding:0 3px 0 5px">公司简介</a>  
            
            
                          |
                                    <a href="./article.php?id=4" style="padding:0 3px 0 5px">联系我们</a>  
            
            
                          |
                                    <a href="./article.php?id=3" style="padding:0 3px 0 5px">在线客服</a>  
            
            
                          |
                                    <a href="./article.php?id=1" style="padding:0 3px 0 5px">加盟政策</a>  
            
            
                          |
                                    <a href="./article.php?id=57" style="padding:0 3px 0 5px">团购优惠</a>  
            
            
                          |
                                    <a href="./article.php?id=577" style="padding:0 3px 0 5px">配送方式</a>  
            
            
                         


</div></div></div></div></body>
<hr>
前端模板取自中意斯商城